<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{layout :: headerFragment}">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/localstyles.css" th:href="@{/css/localstyles.css}"/>
  </head>
  <body>
    <header th:insert="~{layout :: bannerFragment}">
      <h1>
        <a href="index.html">DDHF mobilregistrering</a>
      </h1>
    </header>
    <section id="content">
      <form id="editfactsheet" method="post" action="userprofile.html" th:action="@{/admin/updatepassword}">
        <h2>Skift kodeord for <em th:text="${#authentication.name}">login</em></h2>
        <div>
          <label class="leader required">Nuværende kodeord</label>
          <input type="password" th:field="*{orgpasswd}" value="Gammeltkodeord"/>
          <span th:if="${#fields.hasErrors('orgpasswd')}" th:errors="*{orgpasswd}" class="fielderror">Field is mandatory</span>
        </div>
        <div>
          <label class="leader required">Nyt kodeord</label>
          <input type="password" th:field="*{passwd1}" value="Nytkodeord"/>
          <span th:if="${#fields.hasErrors('passwd1')}" th:errors="*{passwd1}" class="fielderror">Field is mandatory</span>
        </div>
        <div>
        <div>
          <label class="leader required">Gentag nyt kodeord</label>
          <input type="password" th:field="*{passwd2}" value="Nytkodeord"/>
          <span th:if="${#fields.hasErrors('passwd2')}" th:errors="*{passwd2}" class="fielderror">Field is mandatory</span>
        </div>
        <div>
        <div>
        <input type="submit" value="Opdater"/>
        </div>
      </form>
    </section>
    <footer th:replace="~{layout :: footerFragment}">
    Footer
    </footer>
  </body>
</html>
