<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{layout :: headerFragment}">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/localstyles.css" th:href="@{/css/localstyles.css}"/>
  </head>
  <body>
    <header th:insert="~{layout :: bannerFragment}">
      <h1>
        <a href="index.html">DDHF mobilregistrering</a>
      </h1>
    </header>
    <section id="content">
      <form id="editfactsheet" method="post" action="userprofile.html" th:action="@{/updatepassword}">
        <h2>Skift kodeord for <em th:text="${#authentication.name}">bruger</em></h2>
        <p>Indtast dit nuværende kodeord, og derefter det nye to gange. Kodeordet skal være på mindst 8 tegn.</p>
        <div class="fielderror" th:if="${message}" th:text="${message}">Besked her</div>
        <div>
          <label class="leader required">Nuværende kodeord</label>
          <input type="password" name="orgpasswd" th:value="${orgpasswd}" value="Gammeltkodeord"/>
        </div>
        <div>
          <label class="leader required">Nyt kodeord</label>
          <input type="password" name="passwd1" th:value="${passwd1}" value="Nytkodeord"/>
        </div>
        <div>
          <label class="leader required">Gentag nyt kodeord</label>
          <input type="password" name="passwd2" th:value="${passwd2}" value="Nytkodeord"/>
        </div>
        <div>
        <input type="submit" value="Opdater"/>
        </div>
      </form>
    </section>
    <footer th:replace="~{layout :: footerFragment}">
    Footer
    </footer>
  </body>
</html>
