<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{layout :: headerFragment}">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/localstyles.css" th:href="@{/css/localstyles.css}"/>
  </head>
  <body>
    <header th:insert="~{layout :: bannerFragment}">
      <h1>
        <a href="index.html">Fejl</a>
      </h1>
    </header>
    <section id="content">
      <h1 th:text="|${httpStatus.value} - ${httpStatus.reasonPhrase}|">404</h1>
      <p th:if="${url}">
		<b>URL:</b> <span th:text="${url}">Page URL</span>
	</p>

	<p th:if="${timestamp}" id='created'>
		<b>Tidspunkt:</b> <span th:text="${timestamp}">Timestamp</span>
	</p>
	<p th:if="${errorMessage}" class="system-msg" th:text="${errorMessage}">error ...</p>
    </section>
    <footer th:replace="~{layout :: footerFragment}">
    Footer
</footer>
  </body>
</html>
