<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{layout :: headerFragment}">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/localstyles.css" th:href="@{/css/localstyles.css}"/>
  </head>
  <body>
    <header th:insert="~{layout :: bannerFragment}">
      <h1>
        <a href="index.html">DDHF mobilregistrering</a>
      </h1>
    </header>
    <section id="content">
      <h2>Opret sag</h2>
      <form id="editfactsheet" action="files-edit.html" th:action="@{addfile}" th:object="${caseFile}" method="post">
        <div>
          <label class="head required" for="title">Titel:</label>
          <input type="text" th:field="*{title}" id="title" name="title" value="" class="fullwidth"/>
          <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fielderror">Field is mandatory</span>
        </div>
        <div>
          <label class="head" for="description">Beskrivelse:</label>
          <textarea id="description" name="description" th:field="*{description}" rows="5" cols="40">Dummy indhold.</textarea>
          <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="fielderror">Field is mandatory</span>
        </div>
        <div><label class="leader">Dateringsperiode:</label><input type="date" th:field="*{datingfrom}" value="1956-06-09"/> -
              <input type="date" th:field="*{datingto}" value="1980-01-01"/>
        </div>
        <div><label class="leader">Status:</label>
        <label><input name="status" th:field="*{status}" type="radio" value="1" checked="checked"/>Åben</label>
        <label><input name="status" th:field="*{status}" type="radio" value="0"/>Afsluttet</label>
        </div>
        <div>
          <input type="submit" class="btn btn-primary" value="Opret"/>
        </div>
      </form>
    </section>
    <footer th:replace="~{layout :: footerFragment}">
    Footer
    </footer>
  </body>
</html>
