<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{layout :: headerFragment}">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../static/css/localstyles.css" th:href="@{/css/localstyles.css}"/>
  </head>
  <body>
    <header th:insert="~{layout :: bannerFragment}">
      <h1>
        <a href="index.html">DDHF mobilregistrering</a>
      </h1>
    </header>
    <section id="content">
      <h2>Flyt: <span th:text="${itemid}">21000937</span> - <span th:text="${headline}">RC8000</span></h2>
      <fieldset>
        <legend>Flytte med QR kode</legend>
        <div>
          <a href="items-qrmove.html" th:href="@{/items/qrmove(id=${itemid})}">Scan QR</a>
        </div>
      </fieldset>
      <form method="get" action="items-move-search.html" th:action="@{/items/move-search}">
        <fieldset>
          <legend>Søge container</legend>
          <label class="head" for="placementid" title="Indtast tekst, genstandsnr. eller QR kode">Placering:</label>
          <input type="hidden" name="itemid" th:value="${itemid}"/>
          <input type="text"  name="q"/>
          <input type="submit" value="Søg"/>
        </fieldset>
      </form>
      <form method="post" action="items-move-nav.html" th:action="@{/items/updateplace/{id}(id=${itemid})}">
        <fieldset>
          <legend>Navigere hierarkisk</legend>
          <div th:each="place : ${places}">
            <a href="items-move-nav.html?itemid=10000041" th:href="@{move-nav(itemid=${itemid},placementid=${place.id})}" th:text="${place.headline}">Sandby</a>
          </div>
          <div th:remove="all">
            <a href="items-move-nav.html?itemid=10000042">Tapeten</a>
          </div>
          <div th:remove="all">
            <a href="items-move-nav.html?itemid=10000043">Renge</a>
          </div>
          <div th:remove="all">
            <a href="items-move-nav.html?itemid=10000044">Ukendt</a>
          </div>
        </fieldset>
      </form>
    </section>
    <footer th:replace="~{layout :: footerFragment}">
    Footer
    </footer>
  </body>
</html>
