<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{layout :: headerFragment}">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../static/css/localstyles.css" th:href="@{/css/localstyles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/tabstyles.css" th:href="@{/css/tabstyles.css}"/>
    <script th:src="@{/js/tabops.js}" src="../static/js/tabops.js"><![CDATA[ ]]></script>
  </head>
  <body>
    <header th:insert="~{layout :: bannerFragment}">
      <h1>
        <a href="index.html">DDHF mobilregistrering</a>
      </h1>
    </header>
    <section id="content">
      <h2>Opret genstand</h2>
      <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'Identifikation')">Identifikation</button>
        <button class="tablinks" onclick="openTab(event, 'Erhvervelse')">Erhvervelse</button>
        <button class="tablinks" onclick="openTab(event, 'Brugsaktivitet')">Brug</button>
        <button class="tablinks" onclick="openTab(event, 'Notater')">Notater</button>
      </div>
      <form id="editfactsheet" action="item-addform2.html" method="post" th:object="${item}" th:action="@{/items/additem}">
        <fieldset id="Identifikation" class="tabcontent" style="display:block">
          <legend>Identifikation</legend>
          <div>
            <label class="required leader">Type:</label>
            <label th:each="type : ${types}">
              <input type="radio" value="1" id="type1" name="klasse" th:field="*{itemClass}" th:value="${type.id}"/>
              <th:block for="type1" th:text="${type.name}">Artefakt</th:block>
            </label>
            <span th:remove="all">
              <input type="radio" id="flyttekasse" name="klasse" value="flyttekasse" checked="checked"/>
              <label for="flyttekasse">Flyttekasse</label>
              <input type="radio" id="palle" name="klasse" value="palle"/>
              <label for="palle">Palle</label>
            </span>
          </div>
          <div>
            <label class="required leader" for="file">Sag:</label>
            <select name="file" th:field="*{fileid}" th:remove="all-but-first" readonly="readonly">
              <option value="15" th:each="c : ${files}" th:value="${c.id}" th:text="${c.title}">ALCATEL effekter</option>
              <option value="61">Carl Christian Danielsen (2021-2022 donation)</option>
              <option value="29">Dataco udstyr fra DSB Informatik</option>
            </select>
          </div>
          <div>
            <label class="leader required" for="id_itemstatus">Status:</label>
            <select th:field="*{itemStatus}" name="itemstatus" id="id_itemstatus">
              <option value="0" th:value="${status.id}" th:text="${status.name}" th:each="status: ${statuses}">Offentlig</option>
              <!--
              <optgroup label="Publiseret">
                <option value="0" th:selected="true" selected="selected">Kladde</option>
              </optgroup>
              <optgroup label="Redaktion">
                <option value="1">klar</option>
                <option value="2">kladde</option>
              </optgroup>
              <optgroup label="Offline">
                <option value="3">udgået</option>
                <option value="4">intern</option>
              </optgroup>
              -->
            </select>
            <span th:if="${#fields.hasErrors('itemStatus')}" th:errors="*{itemStatus}" class="fielderror">Error</span>
          </div>

          <div>
            <label class="required leader" for="placementid">Lokation:</label>
            <select id="placementid" th:field="*{placementid}" th:remove="all-but-first">
              <option value="0" th:value="${location.id}" th:text="${location.headline}" th:each="location: ${locations}">Sandby</option>
              <option value="1">Nordrup</option>
              <option value="2">Udlånt</option>
            </select>
          </div>
          <div>
            <label class="leader" for="id_subjects">Emnegrupper:</label>
            <select th:field="*{subjects}" id="id_subjects" multiple="multiple" size="8">
              <option value="237" th:each="s : ${allSubjects}" th:value="${s.subjectid}" th:text="${s.title}">Hulkort</option>
              <option value="99" selected="selected" th:remove="all">Programmerbare regnemaskiner</option>
            </select>
          </div>
          <label class="head required" for="headline">Betegnelse:</label>
          <input type="text" id="headline" value="Xerox 860 tekstbehandlingsanlæg" th:field="*{headline}" class="fullwidth"/>
          <span th:if="${#fields.hasErrors('headline')}" th:errors="*{headline}" class="fielderror">Error</span>
          <div>
            <label class="head" for="description">Beskrivelse:</label>
            <textarea id="description" cols="40" rows="5" th:field="*{description}">Rank Xerox type 860 tekstbehandlingsanlæg med 2 stk 8" diskettedrev, tastatur og skærm.
Product codes X994, X995 og X996.
Serienumre: 1111012438, 131-006077-8, 111-148902-1
Særlige oplysninger: Stammer fra Christian Rovsing A/S. Anlægsaktiv 00092100.</textarea>
          </div>
          <div>
            <label class="leader" for="producent">Producent:</label>
            <select id="producent" th:field="*{producerid}">
              <option value="">-------</option>
              <option value="237" th:each="p : ${producers}" th:value="${p.producerid}" th:text="${p.title}">Motorola micro systems</option>
              <option value="274" th:remove="all">Nixdorf Computer</option>
              <option value="64" selected="selected" th:remove="all">Rank Xerox</option>
              <option value="285" th:remove="all">SC Metric A/S</option>
            </select>
          </div>
          <div>
            <label class="leader" for="itemmodeltype">Model/type:</label>
            <input type="text" id="itemmodeltype" value="" th:field="*{itemmodeltype}"/>
          </div>
          <div>
            <label class="leader" for="itemserialno">Serienummer:</label>
            <input type="text" id="itemserialno" value="" th:field="*{itemserialno}"/>
          </div>
          <div>
            <label class="leader" for="itemsize">Størrelse:</label>
            <input type="text" id="itemsize" value="" th:field="*{itemsize}"/>
          </div>
          <div>
            <label class="leader" for="itemweight">Vægt:</label>
            <input type="text" id="itemweight" value="" th:field="*{itemweight}"/>
          </div>
          <div>
            <label class="leader" for="itemdatingfrom">Datering fra: <span th:if="${#fields.hasErrors('itemdatingfrom')}" th:errors="*{itemdatingfrom}" class="fielderror">Error</span></label>
            <input id="itemdatingfrom" type="date" value="1982-10-11" th:field="*{itemdatingfrom}"/>
            <label for="itemdatingto">til:</label>
            <input id="itemdatingto" type="date" value="1982-10-11" th:field="*{itemdatingto}"/>
          </div>
        </fieldset>
        <fieldset id="Erhvervelse" class="tabcontent">
          <legend>Erhvervelse</legend>
          <p>
Hvordan er genstanden anskaffet? Kun for artefakter.
      </p>
          <div>
            <label class="required leader">Måde:</label>
              <label th:each="t : ${acquiretypes}">
                <input th:field="*{itemacquiretype}" type="radio" value="0" th:value="${t.ordinal}" th:selected="${t == itemacquiretype}?'selected'"/>
                <th:block th:text="${t}">Ukendt</th:block>
              </label>
              <label th:remove="all"><input name="gavetype" type="radio" value="1" checked="checked"/>Gave</label>
              <label th:remove="all"><input name="gavetype" type="radio" value="3"/>Køb</label>
              <label th:remove="all"><input name="gavetype" type="radio" value="4"/>Deponering</label>
            <span th:if="${#fields.hasErrors('itemacquiretype')}" th:errors="*{itemacquiretype}" class="fielderror">Error</span>
          </div>
          <div>
            <label class="leader" for="donorid">Donator:</label>
            <select id="donorid" th:field="*{donorid}">
              <option value="">-------</option>
              <option value="237" th:each="d : ${donors}" th:value="${d.id}" th:text="${d.name}">Motorola micro systems</option>
              <option value="274" th:remove="all">Nixdorf Computer</option>
              <option value="64" th:remove="all">Rank Xerox</option>
              <option value="285" th:remove="all">SC Metric A/S</option>
            </select>
          </div>
          <div>
            <label class="leader" for="itemdepositeduntil" title="Deponeret til museet indtil">Deponeret indtil:</label>
            <input id="itemdepositeduntil" type="date" value="1982-10-11" th:field="*{itemdepositeduntil}"/>
          </div>
          <div>
            <label class="leader" for="itemborroweduntil">Lånt indtil:</label>
            <input id="itemborroweduntil" type="date" value="1982-10-11" th:field="*{itemborroweduntil}"/>
          </div>
          <div>
          <label class="leader" for="itemreceived">Modtagelsesdato:</label>
          <input id="itemreceived" type="date" value="2009-01-30" th:field="*{itemreceived}"/>
          <label for="itemreceivedby">af:</label>
          <input type="text" id="itemreceivedby" value="" th:field="*{itemreceivedby}" size="12"/>
          </div>
        </fieldset>
        <fieldset id="Brugsaktivitet" class="tabcontent">
          <legend>Brugsaktivitet</legend>
          <label class="head" for="itemusedby">Brugt af:</label>
          <textarea id="itemusedby" cols="40" rows="5" th:field="*{itemusedby}">Brugsen</textarea>
          <label class="head" for="itemusedfor">Til hvad:</label>
          <textarea id="itemusedfor" cols="40" rows="5" th:field="*{itemusedfor}">Kontrabøger</textarea>
          <label class="head" for="itemusedfor">Brugt hvor:</label>
          <textarea id="itemusedwhere" cols="40" rows="5" th:field="*{itemusedwhere}">Ja, hvor henne?</textarea>
          <div>
            <label class="leader" for="itemusedwhereid">Geografisk område:</label>
            <select id="itemusedwhereid" th:field="*{itemusedwhereid}">
              <option value="">-------</option>
              <option value="9" th:each="s : ${steder}" th:value="${s.id}" th:text="${s.stednavn}" th:selected="${s.id == itemusedwhereid}">København</option>
              <option value="10" th:remove="all">Odense</option>
            </select>
          </div>
          <div>
            <label class="leader" for="itemusedfrom">Start på brug indenfor:</label>
            <input id="itemusedfrom" type="date" value="1982-10-11" th:field="*{itemusedfrom}"/>
            <label for="itemusedto">til</label>
            <input id="itemusedto" type="date" value="1983-10-11" th:field="*{itemusedto}"/>
          </div>
          <label class="leader" for="itemusedendfrom">Slut på brug indenfor:</label>
          <input id="itemusedendfrom" type="date" value="1982-10-11" th:field="*{itemusedendfrom}"/>
          <label for="itemusedendto">til</label>
          <input id="itemusedendto" type="date" value="1982-10-11" th:field="*{itemusedendto}"/>
        </fieldset>
        <fieldset id="Notater" class="tabcontent">
          <legend>Notater</legend>
          <label class="head" for="itemextrainfo">Særlige oplysninger:</label>
          <textarea id="itemextrainfo" cols="40" rows="5" th:field="*{itemextrainfo}">Tekst her</textarea>
          <label class="head" for="itemrestoration">Restaurering:</label>
          <textarea id="itemrestoration" cols="40" rows="5" th:field="*{itemrestoration}">Tekst her</textarea>
          <label class="head" for="itemreferences">Litteraturhenvisninger:</label>
          <textarea id="itemreferences" cols="40" rows="5" th:field="*{itemreferences}">Tekst her</textarea>
          <label class="head" for="itemremarks">Bemærkninger:</label>
          <textarea id="itemremarks" cols="40" rows="5" th:field="*{itemremarks}">Kommentarer</textarea>
        </fieldset>
        <p>
          <input type="submit" value="Opret"/>
        </p>
      </form>
    </section>
    <footer th:replace="~{layout :: footerFragment}">
    Footer
    </footer>
  </body>
</html>
