<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:insert="~{layout :: headerFragment (webtitle=${item.headline})}">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../static/css/localstyles.css" th:href="@{/css/localstyles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/tabstyles.css" th:href="@{/css/tabstyles.css}"/>
    <script th:src="@{/js/tabops.js}" src="../static/js/tabops.js"><![CDATA[ ]]></script>
  </head>
  <body>
    <header th:insert="~{layout :: bannerFragment}">
      <h1>
        <a href="index.html">DDHF mobilregistrering</a>
      </h1>
    </header>
    <section id="content">
      <form id="actions">
        <button id="search" type="submit" form="actions" formaction="items.html" th:formaction="@{/items}">Liste</button>
        <button id="rediger" type="submit" form="actions" formaction="item-edit.html" th:formaction="@{/items/edit}" sec:authorize="hasAuthority('CHANGE_ITEMS')">Rediger</button>
        <button id="flyt" type="submit" formaction="item-move.html" th:formaction="@{/items/move}" sec:authorize="hasAuthority('CHANGE_ITEMS')">Flyt</button>
        <button sec:authorize="hasAuthority('DELETE_ITEMS')" id="delete" type="submit" form="actions" formaction="items.html" th:formaction="@{/items/delete/{id}(id=${item.id})}">Slet</button>
        <input type="hidden" name="id" th:value="${item.id}" value="11000937"/>
      </form>
      <h2><span th:remove="tag" th:text="${item.headline}">Xerox 860 tekstbehandlingsanlæg</span>
      (<span th:text="${item.itemdeleted}">godkendt</span>)</h2>
      <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'Identifikation')">Identifikation</button>
        <button th:if="${not #lists.isEmpty(children)}" class="tablinks" onclick="openTab(event, 'Genstande')">Genstande</button>
        <button class="tablinks" onclick="openTab(event, 'Adkomst')">Adkomst</button>
        <button class="tablinks" onclick="openTab(event, 'Brugsaktivitet')">Brug</button>
        <button class="tablinks" onclick="openTab(event, 'Notater')">Notater</button>
      </div>
      <fieldset id="Identifikation" class="tabcontent" style="display:block">
        <legend>Identifikation</legend>
        <dl class="factsheet">
          <dt>Nr.</dt>
          <dd><span th:text="${item.id}">11000937</span> (<span th:text="${item.itemClass.name}">Artefakt</span>)
        </dd>
          <dt>Sag</dt>
          <dd>
            <a href="files-view.html" th:href="@{/files/view/{id}(id=${file.id})}" th:text="${file.title}">ALCATEL effekter</a>
          </dd>
          <dt>Betegnelse</dt>
          <dd th:text="${item.headline}">Xerox 860 tekstbehandlingsanlæg</dd>
          <dt>Placering</dt>
          <dd th:remove="all-but-first">
            <span th:each="p : ${parents}"> ▶ <a href="items-view.html" th:href="@{/items/view/{id}(id=${p.id})}" th:text="${p.headline}">Palle 11002018</a></span>
            <span> ▶ <a href="items-view.html">Sandby magasin</a></span>
            <div th:unless="${#strings.isEmpty(item.itemlocation)}" th:text="${item.itemlocation}">Udstillingen, HH</div>
          </dd>
          <dt th:unless="${#strings.isEmpty(item.itemmodeltype)}">Model/type</dt>
          <dd th:unless="${#strings.isEmpty(item.itemmodeltype)}" th:text="${item.itemmodeltype}">GNT5601</dd>
          <dt th:unless="${#strings.isEmpty(item.itemserialno)}">Serienr.</dt>
          <dd th:unless="${#strings.isEmpty(item.itemserialno)}" th:text="${item.itemserialno}">131-006077-8</dd>
          <dt>Beskrivelse</dt>
          <dd class="multiline" th:text="${#strings.trim(item.description)}">Rank Xerox type 860 tekstbehandlingsanlæg
med 2 stk 8" diskettedrev, tastatur og skærm.
Product codes X994, X995 og X996.
Serienumre: 1111012438, 131-006077-8, 111-148902-1
Særlige oplysninger: Stammer fra Christian Rovsing A/S. Anlægsaktiv 00092100.</dd>
          <dt th:if="${producer.isPresent()}">Producent</dt>
          <dd th:if="${producer.isPresent()}">
            <a href="producers-view.html" th:href="@{/producers/view/{id}(id=${producer.get().producerid})}" th:text="${producer.get().title}">Rank Xerox</a>
          </dd>
          <dt th:if="${item.itemdatingfrom}">Datering</dt>
          <dd th:if="${item.itemdatingfrom}">Indenfor <span th:remove="tag" th:text="${#temporals.format(item.itemdatingfrom,'YYYY-MM-dd')}">1982-10-11</span>
          <span th:if="${item.itemdatingto}" th:remove="tag" th:text="${' til ' + #temporals.format(item.itemdatingto,'YYYY-MM-dd')}">1992-09-31</span>
          </dd>
          <dt>QR kode</dt>
          <dd>
            <span th:if="${item.qrcode}" th:text="${item.qrcode}">59001111</span>
            <span th:unless="${item.qrcode}">
              <a href="addqrform.html" th:href="@{/items/addqrform(id=${item.id})}">Scan og tildel</a>
            </span>
          </dd>
          <dt>Emnegrupper</dt>
          <dd th:remove="all-but-first">
            <a class="subject" th:each="subject : ${item.subjects}" href="subjects-view.html" th:href="@{/subjects/view/{id}(id=${subject.subjectid})}" th:text="${subject.title}">Mainframes</a>
            <a class="subject" href="subjects-view.html">Radiorør</a>
          </dd>
        </dl>
        <h2>Billeder</h2>
        <form action="items-view.html" th:action="@{/items/pictureupload}" method="post" enctype="multipart/form-data">
          <div th:remove="all-but-first">
            <a href="#" th:each="picture : ${item.pictures}" th:href="@{/pictures/view/{p}(p=${picture.pictureid})}">
              <img src="../../../test/resources/static/testpicture1.jpg" th:src="@{/media/{p}(p=${picture.low})}"/>
            </a>
            <a href="picture/pictureoriginal/DSC_8078.JPG">
              <img src="../../../test/resources/static/testpicture2.jpg"/>
            </a>
            <a href="picture/pictureoriginal/DSC_8080.JPG">
              <img src="../../../test/resources/static/testpicture3.jpg"/>
            </a>
          </div>
          <div id="pictupload">
            <input type="hidden" name="id" th:value="${item.id}" value="11000937"/>
            <label for="picture">Upload billede</label>
            <input type="file" id="picture" name="file" accept="image/*" capture="environment"/>
            <input type="submit" value="Upload"/>
          </div>
        </form>
      </fieldset>
      <div th:if="${not #lists.isEmpty(children)}">
        <fieldset id="Genstande" class="tabcontent">
          <legend>Genstande</legend>
          <dl>
            <div th:remove="tag" th:each="child : ${children}">
              <dt>
                <a href="items-view.html" th:href="@{/items/view/{id}(id=${child.id})}" th:text="${child.headline}">Flyttekasse 38</a>
              </dt>
              <dd th:text="${#strings.abbreviate(child.description, 160)}">3 stk DDE710 tastaturer (Facit A3400) 1 stk PC-tastatur</dd>
            </div>
          </dl>
          <nav aria-label="Pagination" th:if="${totalPages &gt; 0}">
            <ul class="pagination">
              <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="~{paging :: children(1, '&lt;&lt;', 'Første Side')}">&lt;&lt;</a>
              </li>
              <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="~{paging :: children(${currentPage - 1}, 'Forr', 'Forrige Side')}">Forr.</a>
              </li>
              <li class="page-item disabled" th:if="${currentPage - 2 &gt; 1}">
                <a class="page-link" href="#">...</a>
              </li>
              <li class="page-item" th:classappend="${page == currentPage} ? 'active'" th:each="page : ${#numbers.sequence(currentPage &gt; 2 ? currentPage - 2 : 1, currentPage + 2 &lt; totalPages ? currentPage + 2 : totalPages)}">
                <a th:replace="~{paging :: children(${page}, ${page}, 'Side ' + ${page})}">#</a>
              </li>
              <li class="page-item disabled" th:if="${currentPage + 2 &lt; totalPages}">
                <a class="page-link" href="#">...</a>
              </li>
              <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="~{paging :: children(${currentPage + 1},'Næste', 'Næste Side')}">Næste</a>
              </li>
              <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="~{paging :: children(${totalPages}, '&gt;&gt;', 'Sidste Side')}">&gt;&gt;</a>
              </li>
            </ul>
          </nav>
        </fieldset>
      </div>
      <fieldset id="Adkomst" class="tabcontent">
        <legend>Adkomst</legend>
        <dl class="factsheet">
          <dt th:if="${donor.isPresent()}">Donator</dt>
          <dd th:if="${donor.isPresent()}">
            <a href="donors-view.html" th:href="@{/donors/view/{id}(id=${donor.get().getId()})}" th:text="${donor.get().getTitle()}">SAS Data Seniorklub</a>
          </dd>
          <dt title="Modtagelsesdato">Modtaget</dt>
          <dd><span th:remove="tag" th:text="${#temporals.format(item.itemreceived,'YYYY-MM-dd')}">2012-05-06</span> af <span th:remove="tag" th:text="${item.itemreceivedby}">fvn</span></dd>
          <dt title="Deponeret til museet indtil">Deponeret indtil:</dt>
          <dd th:text="${#temporals.format(item.itemdepositeduntil,'YYYY-MM-dd')}">2032-09-16</dd>
          <dt>Udgået:</dt>
          <dd th:text="${item.itemoutdated}">1</dd>
          <dt>Lånt indtil:</dt>
          <dd th:text="${#temporals.format(item.itemborroweduntil,'YYYY-MM-dd')}">2027-10-16</dd>
          <dt>Takkebrev afsendt:</dt>
          <dd th:text="${#temporals.format(item.itemthanksletter,'YYYY-MM-dd')}">2012-09-16</dd>
        </dl>
      </fieldset>
      <fieldset id="Brugsaktivitet" class="tabcontent">
        <legend>Brugsaktivitet</legend>
        <dl class="factsheet">
          <dt>Brugt af</dt>
          <dd class="multiline" th:text="${item.itemusedby}">Brugsen</dd>
          <dt>Til hvad</dt>
          <dd class="multiline" th:text="${item.itemusedfor}">Kontrabøger</dd>
          <dt>Brugt hvor</dt>
          <dd class="multiline" th:text="${item.itemusedwhere}">Ja, hvor henne?</dd>
        </dl>
      </fieldset>
      <fieldset id="Notater" class="tabcontent">
        <legend>Notater</legend>
        <dl class="factsheet">
          <dt title="Særlige oplysninger om genstandens proveniens">Ekstra info</dt>
          <dd class="multiline" th:text="${item.itemextrainfo}">Tekst her</dd>
          <dt>Restaurering</dt>
          <dd class="multiline" th:text="${item.itemrestoration}">Tekst her</dd>
          <dt title="Litteraturhenvisninger">Litteratur</dt>
          <dd class="multiline" th:text="${item.itemreferences}">Tekst her</dd>
          <dt>Bemærkninger</dt>
          <dd class="multiline" th:text="${item.itemremarks}">Kommentarer</dd>
        </dl>
      </fieldset>
    </section>
    <footer th:replace="~{layout :: footerFragment}">
    Footer
    </footer>
  </body>
</html>
