<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:insert="~{layout :: headerFragment (webtitle='Lokaliteter')}">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/localstyles.css" th:href="@{/css/localstyles.css}"/>
  </head>
  <body>
    <header th:insert="~{layout :: bannerFragment}">
      <h1>
        <a href="index.html">DDHF mobilregistrering</a>
      </h1>
    </header>
    <main>
      <div th:switch="${localitytypes}">
        <h2 th:case="null">Ingen lokaliteter</h2>
        <div th:case="*">
        <div th:each="loctype : ${localitytypes}">
          <h2 th:text="${loctype.title}">Arbejdspladser</h2>
          <ul th:remove="all-but-first">
            <li th:each="locality : ${loctype.localities}">
              <div><a href="locality-view.html"
               th:href="@{/localities/view/{id}(id=${locality.id})}"
               th:text="${locality.name}">Regnecentralen - Præstø</a>
               (<span th:text="${locality.totalItems}">4</span>)</div>
            </li>
          </ul>
          <h2 th:remove="all">Kommuner (2007-)</h2>
          <ul th:remove="all">
            <li>
              <div><a href="locality-view.html">Guldborgsund Kommune</a> (<span>8</span>)</div>
            </li>
            <li>
              <div><a href="locality-view.html">Præstø Kommune</a> (<span>12</span>)</div>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </main>
    <footer th:replace="~{layout :: footerFragment}">
    Footer
    </footer>
  </body>
</html>
