<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:insert="~{layout :: headerFragment (webtitle='Lokalitetstyper')}">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/localstyles.css" th:href="@{/css/localstyles.css}"/>
  </head>
  <body>
    <header th:insert="~{layout :: bannerFragment}">
      <h1>
        <a href="index.html">DDHF mobilregistrering</a>
      </h1>
    </header>
    <section id="content">
      <form id="actions" method="get" action="localitytype-add.html" th:action="@{/localitytypes/addform}" sec:authorize="hasAuthority('ADD_LOCALITIES')">
        <button type="submit">Ny autoritet</button>
      </form>
      <div th:switch="${localitytypes}">
        <h2 th:case="null">Ingen autoriteter</h2>
        <div th:case="*">
          <h2>Lokalitetsautoriteter</h2>
          <ul th:remove="all-but-first">
            <li th:each="place : ${localitytypes}">
              <div><a href="localitytype-view.html" th:href="@{/localitytypes/view/{id}(id=${place.id})}" th:text="${place.title}">Arbejdspladser</a>
                    (<span th:text="${place.totalItems}">4</span>)
              </div>
              <div th:text="${place.description}">Virksomheder eller divisioner i virksomheder som foretager den samme type arbejde, f.eks. udvikling, service eller hardwareproduktion.</div>
            </li>
            <li>
              <div><a href="localitytype-view.html">Kommuner (2007-)</a> (<span>98</span>)</div>
              <div>Kommunelokaliteter er primært til privatpersoner og små virksomheder i liberale erhverv.</div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer th:replace="~{layout :: footerFragment}">
    Footer
    </footer>
  </body>
</html>
