<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:insert="~{layout :: headerFragment (webtitle='Genstande uden emnegrupper')}">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../static/css/localstyles.css" th:href="@{/css/localstyles.css}"/>
  </head>
  <body>
    <header th:insert="~{layout :: bannerFragment}">
      <h1>
        <a href="index.html">DDHF mobilregistrering</a>
      </h1>
    </header>
    <h2>Genstande uden emnegrupper</h2>
    <main>
      <table th:if="${not #lists.isEmpty(items)}">
        <tbody th:remove="all-but-first">
          <tr th:each="item : ${items}">
            <td>
                <a href="items-view.html" th:href="@{/items/view/{id}(id=${item.id})}" th:text="${item.headline}">Flyttekasse RC34</a>
            </td>
            <td th:text="${item.itemClass.name}"/>
          </tr>
          <tr>
            <td>
                <a href="items-view.html">Flyttekasse RM10</a>
            </td>
            <td>Filler</td>
          </tr>
          <tr>
            <td>
                <a href="items-view.html">Friden EC-132 regnemaskine</a>
            </td>
            <td>Filler</td>
          </tr>
          <tr>
            <td>
                <a href="items-view.html">Friden Flexowriter</a>
            </td>
            <td>Filler</td>
          </tr>
          <tr>
            <td>
                <a href="items-view.html">Friden regnemaskine</a>
            </td>
            <td>Filler</td>
          </tr>
          <tr>
            <td>
                <a href="items-view.html">ICL 1501 intelligent terminal</a>
            </td>
            <td>Filler</td>
          </tr>
        </tbody>
      </table>
      <p th:if="${#lists.isEmpty(items)}" class="system-msg">
      Ingen genstande fundet
      </p>
    </main>
    <nav aria-label="Pagination" th:replace="~{paging :: pagination('/nosubjects')}">
    Navigation here.
    </nav>
    <footer th:replace="~{layout :: footerFragment}">
    Footer
    </footer>
  </body>
</html>
