<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:insert="~{layout :: headerFragment (webtitle='Brugssteder')}">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/localstyles.css" th:href="@{/css/localstyles.css}"/>
  </head>
  <body>
    <header th:insert="~{layout :: bannerFragment}">
      <h1>
        <a href="index.html">DDHF mobilregistrering</a>
      </h1>
    </header>
    <section id="content">
      <form id="actions" method="get" action="places-add.html" th:action="@{/places/addform}">
        <button type="submit">Nyt sted</button>
      </form>
      <div th:switch="${places}">
        <h2 th:case="null">Ingen brugssteder</h2>
        <div th:case="*">
          <h2>Brugssteder</h2>
          <ul th:remove="all-but-first">
            <li th:each="place : ${places}">
              <div><a href="places-view.html" th:href="@{/places/view/{id}(id=${place.id})}" th:text="${place.stednavn}">Guldborgsund Kommune</a>
                    (<span th:text="${place.totalItems}">4</span>)
              </div>
            </li>
            <li>
              <div><a href="places-view.html">Præstø Kommune</a> (<span>12</span>)</div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer th:replace="~{layout :: footerFragment}">
    Footer
    </footer>
  </body>
</html>
