<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:insert="~{layout :: headerFragment (webtitle=${producer.title})}">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/localstyles.css" th:href="@{/css/localstyles.css}"/>
  </head>
  <body>
    <header th:insert="~{layout :: bannerFragment}">
      <h1>
        <a href="index.html">DDHF mobilregistrering</a>
      </h1>
    </header>
    <section id="content">
      <form id="actions">
        <button id="search" type="submit" form="actions" formaction="producers.html" th:formaction="@{/producers}">Liste</button>
        <button id="rediger" type="submit" form="actions" formaction="producers-edit.html" th:formaction="@{/producers/edit/{id}(id=${producer.producerid})}" sec:authorize="hasAuthority('CHANGE_PRODUCERS')">Rediger</button>
        <button sec:authorize="hasAuthority('DELETE_PRODUCERS')" id="delete" type="submit" form="actions" formaction="producers.html" th:formaction="@{/producers/delete/{id}(id=${producer.producerid})}">Slet</button>
      </form>
      <h2 th:text="${producer.title}">Producentnavn</h2>
      <dl class="factsheet">
        <dt>Nr.</dt>
        <dd th:text="${producer.producerid}">11</dd>
        <dt>Navn</dt>
        <dd th:text="${producer.title}">Beehive</dd>
        <dt class="multiline">Beskrivelse</dt>
        <dd class="multiline" th:text="${producer.description}">Beehive Medical Electronics, later Beehive International, was a manufacturer of video display terminals.
</dd>
      </dl>
      <div th:if="${not #lists.isEmpty(items)}">
        <h2>Genstande</h2>
        <table class="datatable">
          <thead>
            <tr>
              <th>Betegnelse</th>
              <th>Model/type</th>
              <th>Serienr.</th>
              <th>Datering</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item : ${items}">
              <td>
                <a href="items-view.html" th:href="@{/items/view/{id}(id=${item.id})}" th:text="${item.headline}">Flyttekasse 38</a>
              </td>
              <td th:text="${item.itemmodeltype}">GNT5601</td>
              <td th:text="${item.itemserialno}">131-006077-8</td>
              <td><span th:text="${item.itemdatingfrom}?${#temporals.format(item.itemdatingfrom,'yyyy')}:''">1982</span><span th:text="${item.itemdatingto}?${'-' + #temporals.format(item.itemdatingto,'yyyy')}:''">1983</span></td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Pagination" th:replace="~{paging :: pagination(@{/producers/view/{id}(id=${producer.producerid})})}">
        Navigation here.
        </nav>
      </div>
    </section>
    <footer th:replace="~{layout :: footerFragment}">
    Footer
    </footer>
  </body>
</html>
