<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:insert="~{layout :: headerFragment}">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/localstyles.css" th:href="@{/css/localstyles.css}"/>
  </head>
  <body>
  <style th:replace="~{items-preview :: style}"></style>
    <header th:insert="~{layout :: bannerFragment}">
      <h1>
        <a href="index.html">DDHF mobilregistrering</a>
      </h1>
    </header>
    <main>
      <form id="actions">
        <button id="search" type="submit" form="actions" formaction="subjects.html" th:formaction="@{/subjects}">Liste</button>
        <button id="rediger" sec:authorize="hasAuthority('CHANGE_SUBJECTS')" type="submit" form="actions" formaction="subjects-edit.html" th:formaction="@{/subjects/edit/{id}(id=${subject.subjectid})}">Rediger</button>
        <button sec:authorize="hasAuthority('DELETE_SUBJECTS')" id="delete" th:if="${subject.totalItems} == 0" type="submit" form="actions" formaction="subjects.html"
th:formaction="@{/subjects/delete/{id}(id=${subject.subjectid})}" onclick="return confirm('Er du sikker?')">Slet</button>
      </form>
      <h2 th:text="${subject.title}">Programmerbare regnemaskiner</h2>
      <p style="white-space: pre-wrap;" th:text="${subject.description}">Maskiner, der normalt fungerer som regnemaskine, men som kan programmeres, så den selv kan udføre en valgt tastesekvens. Programmerbare lommeregnere.
      </p>
        <dl th:replace="~{items-preview :: preview(${items})}">
          <div th:remove="tag" th:each="item : ${items}">
            <dt>
              <a href="items-view.html" th:href="@{/items/view/{id}(id=${item.id})}" th:text="${item.headline}">Flyttekasse 38</a>
            </dt>
            <dd th:text="${#strings.abbreviate(item.description, 160)}">3 stk DDE710 tastaturer (Facit A3400) 1 stk PC-tastatur</dd>
          </div>
        </dl>
        <div th:if="${not #lists.isEmpty(items)}">
        <nav aria-label="Pagination" th:replace="~{paging :: pagination(@{subjects/view/{id}(id=${subject.subjectid})})}">
        Navigation here.
        </nav>
      </div>
    </main>
    <footer th:replace="~{layout :: footerFragment}">
    Footer
    </footer>
  </body>
</html>
